* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background: #e62b1e;
  color: #fff;
  /* padding: 2rem 1rem; */
  text-align: center;
  
}

header .logoimg{
  width: 100%;
  height: 3.5rem;

}
.logoimg .img{
  width: 5rem;
  height: 200px;
  background-image: url("logoimg.jpg");
  background-size: cover;

}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 2.5rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
header nav{
  width: 100%;
  background-color: #0a0a0a;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
  line-height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 300;
}

.date {
  font-size: 1rem;
  opacity: 0.9;
  margin-top: 0.5rem;
}

section {
      background: radial-gradient(circle at left, #1a1a1a, #000);

  padding: 2rem 1.5rem;
  max-width: 800px;
  margin: 0 auto 5rem 10rem;
}
.about-aus{
      background: radial-gradient(circle at left, #1a1a1a, #000);

}

h2 {
  color: #e62b1e;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.2rem;
}

.perks table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #222;
}

.perks th,
.perks td {
  padding: 1rem;
  border: 1px solid #444;
  text-align: center;
}

.perks th {
  background-color: #e62b1e;
  color: #111;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #1a1a1a;
  color: #ccc;
  font-size: 0.9rem;
}
.speakers {
  max-width: 1200px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.speakers h1 {
  width: 1000px;
  text-align: center;
  max-width: 1200px;
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.tedx {
  color: #e62b1e;
  font-weight: bold;
}

.tedx sup {
  font-size: 0.6em;
  vertical-align: super;
}

.year {
  color: #ff0055;
  font-weight: bold;
}

.speaker {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border: 2px solid #e62b1e;
  background: #121212;
  border-radius: 8px;
}

.sourav{
    background-image: url("sourav.jpg");
    filter: grayscale();
    --webkit-filter: grayscale(100%);
    --webkit-blend-mode: multiply;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 50rem;
}
.sagar-tej{
    background-image: url("sagar.jpg");
    background-size:cover;
    filter: grayscale();
    --webkit-filter: grayscale(100%);
    --webkit-blend-mode: multiply;
    background-position: center;
    width: 100%;
    height: 50rem;
}
.ravi-kannan{
    background-image: url("Dr.Ravi\ kanan.jpg");
    background-size:cover;
    filter: grayscale();
    --webkit-filter: grayscale(100%);
    --webkit-blend-mode: multiply;
    background-position: center;
    width: 100%;
    height: 50rem;
}
.ib-ubhadiya{
    background-image: url("");
    background-size:cover;
    filter: grayscale();
    --webkit-filter: grayscale(100%);
    --webkit-blend-mode: multiply;
    background-position: center;
    width: 100%;
    height: 50rem;
}
.vijender{
    background-image: url("Dr.\ vijendra\ chavan.jpg");
    background-size:cover;
    filter: grayscale();
    --webkit-filter: grayscale(100%);
    --webkit-blend-mode: multiply;
    background-position: center;
   width: 100%;
    height: 50rem;
}

.speaker-info h2 {
  margin: 0 0 0.5rem 0;
  color: #ffffff;
}

.position {
  color: #ff4444;
  font-weight: 500;
  margin-bottom: 1rem;
}



/* Responsive layout */
@media (max-width: 768px) {
  .speaker {
    flex-direction: column;
    align-items: center;
  }

  .speaker-img {
    width: 100%;
    height: 200px;
  }

  .speaker-info {
    text-align: center;
  }
}
/* flip card */

.flip-card {
  background-color: transparent;
  width: 324px;
  height: 354px;
  perspective: 1000px;
  font-family: sans-serif;
  margin:  0 0 2.5rem 2.9rem;
}

.title {
  font-size: 0.8em;
  font-weight: 900;
  position: absolute;
  top: 1.2rem;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #e62b1e;
  border-radius: 1rem;

}

.flip-card-front {
  color: #fff;

  overflow: hidden;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(231, 69, 69) 30%, #e62b1e 88%,
     rgb(198, 64, 23) 40%, rgb(223, 57, 57) 78%);
  color: white;
  padding: 0 15px 0 15px;
  transform: rotateY(180deg);
}
.bio {
  font-size: 0.7rem;
  line-height: 1.5;
  position: absolute;
  top: 6rem;
  text-align: start;
  color: #fff;
}

.flip-card-front p{
  margin-bottom: 0;
  font-size: large;
  font-weight: 600;
}







.team-section {
  max-width: 1200px;
  padding: 1rem;
}

.team-section h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.tedx {
  color: #e62b1e;
  font-weight: bold;
}

.tedx sup {
  font-size: 0.6em;
  vertical-align: super;
}

.year {
  color: #ff0055;
  font-weight: bold;
}

.team-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: white;
}

.intro {
  color: #fff;
    background: radial-gradient(circle at left, #1a1a1a, #000);

  margin-top: 2rem;
  font-size: 1rem;
}

.role {
  margin-bottom: 1.5rem;
  border-left: 4px solid #e62b1e;
  padding-left: 1rem;
}

.role h3 {
  color: #e62b1e;
  margin-bottom: 0.3rem;
}

.role p {
  color: #ddd;
  margin: 0;
}

.contact {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #444;
}

.contact h2 {
  color: #ff4444;
  margin-bottom: 0.5rem;
}

.contact p {
  margin: 0.3rem 0;
  color: #ccc;
}

.contact a {
  color: #e62b1e;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.social {
  margin-top: 1rem;
}

/* scrool animation */

.scroll-fade {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.6s ease-out;
}

.scroll-fade.visible {
    opacity: 1;
    transform: translateY(0);
}







.theme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at left, #1a1a1a, #000);
  padding: 4rem 3rem;
  border-radius: 12px;
  margin: 4rem auto;
  max-width: 1200px;
  gap: 3rem;
}

.theme-content {
  flex: 1;
}

.theme-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  margin-bottom: 2rem;
}



.theme-content .red {
  color: #e62b1e;
}

.theme-content p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #d0d0d0;
  margin-bottom: 1.5rem;
}

.theme-image {
  flex: 0.8;
  text-align: center;
}

.theme-image .img {
  width: 395px;
  height: 419px;
  max-width: 100%;
  height: auto;
  background-image: url("Logo.jpg");
  background-size: cover;
}

.catalyst-title {
  font-size: 2.5rem;
  margin-top: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.catalyst-subtitle {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
}

.catalyst-subtitle .red {
  color: #e62b1e;
}






@media ( (max-width: 425px)) {
  section{
    margin: auto;
  }
  .theme-image{
    display: none;
  }
}




